# Node and React
**/node_modules/
**/.env
**/dist/
**/build/

# Python virtual environments
ml_model/venv/

# Python cache
**/__pycache__/
**/.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
